<!DOCTYPE html>
<html layout:decorator="layouts/layout">


<body>
	<!-- Modal -->


	<div layout:fragment="content">

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Signup</h4>
					</div>
					<div class="modal-body" id="myModalBody">Lorem ipsum</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<div class="container">
			<div class="hero-unit">
				<h1>Test</h1>
				<p>
					Welcome to the Spring MVC Quickstart application! Get started
					quickly by signing up. <small><em>(Please use the
							following credentials to login: <code>admin/admin</code>, <code>user/sdfsdf</code>
							or create a new account.)
					</em></small>
				</p>

				<div ng-app="">
					<p>Input something in the input box:</p>
					<p>
						Name: <input type="text" class="form-control" size="20" ng-model="name" />
					</p>
					<p ng-bind="name"></p>
				</div>
				<p>
					<a href="#" class="btn btn-large btn-success" data-toggle="modal"
						data-target="#myModal">Sign up</a> <a href="#"
						class="btn btn-large btn-success" data-toggle="modal"
						data-target="#myModal">Sign up1</a>
				</p>
			</div>

		</div>
	</div>
</body>
</html>